@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

:root {
  --color1: #292828;
  --color2: #e25103;
  --color3: whitesmoke;

  --columnsSeason: 20;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
a,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

body {
  user-select: none;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

/* -- TYPO -- */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 7rem;
}

p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #6c6060;
}

/* -- BTN/LINK -- */
button {
  border-radius: 5px;
  background: whitesmoke;

  transition: all 0.2s ease-in-out;
  color: var(--color1);
  text-align: center;
  cursor: pointer;
  padding: 0.25em;
  font-size: 2rem;
  text-transform: uppercase;
}

button p {
  transition: all 0.2s ease-in-out;
}

.button:active {
  box-shadow: 0 2px #b34700;
  transform: translateY(2px); /* Simulates pressing down */
}

.current--week {
  background-color: var(--color2);
  color: whitesmoke;
}

.sort-btn {
  cursor: pointer;
}

.showall--btn {
  border: none;
  width: 100%;
  max-width: 400px;
}
/* -- LAYOUT -- */
body {
  font-family: "Oswald", sans-serif;
  background: var(--color1);
  height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
  width: min-content;
  padding: 2em;
  color: var(--color2);
}

nav button {
  position: relative;
}

.nav-btn-tag {
  writing-mode: horizontal-tb; /* Reset to normal text flow */
  letter-spacing: normal;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
}

main {
  background-color: var(--color1);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 100;
  width: 80%;
}

.loading {
  display: flex;
  height: 100%;
}

.loading img {
  margin: auto;
}

.week--table,
.season--table {
  padding: 1em 3em 2em 0em;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25em;
  justify-content: space-between;
  width: 100%;
}

.mobile-week,
.mobile-season {
  grid-column: 1/-1;
  padding: 0.5em;
  border: 1px solid var(--color3);
}

.mobile-season {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.mobile-season-el,
.mobile-week-el {
  display: inline-block;
}

.mobile-week > *,
.mobile-season > * {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}

.mobile-season > * {
  flex-direction: column;
}

.buttons--container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.buttons--container button {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.4em;
  padding-bottom: 0.65em;
}

h3.name {
  color: var(--color2);
}

a.name {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
}

h2 {
  cursor: pointer;
}

.table--element {
  text-align: center;
}

.matches--a--week {
  text-align: center;
}

.matches--a--week:hover {
  cursor: pointer;
}

.mmr--diff:hover {
  cursor: pointer;
}

footer {
  flex-basis: 100%;
  width: 100%;
  color: var(--color3);
  background-color: #1d1c1b;
  padding: 0.5em;
  text-align: center;
}

/* -- PLAYER CARD ---------------------------------------------------------------------------------------------*/
.player-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, right;
  background-color: black;
  border-radius: 10px;
}

.player-card-right-side {
  max-width: 40%;
}

.race-bg {
  border-radius: 10px;
}

.player-card h3,
.player-card a {
  font-size: 2.75rem;
}

p.matches,
p.mmr {
  font-size: 5rem;
  color: whitesmoke;
  height: 80px;
  line-height: 80px;
  display: flex;
}

p.matches {
  width: 100px;
}

p.mmr {
  width: 190px;
}

span.games-tag,
span.mmr-tag {
  color: whitesmoke;
  opacity: 60%;
  font-size: 0.6rem;
  top: 10px;
  line-height: 1;
  margin-top: 10px;
  margin-right: 5px;
}

div.name {
  overflow: hidden;
  width: 600px;
}

.player-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.week--content {
  flex-direction: row;
}

.top-3 {
  border: 4px solid var(--color2);
}

.top-3 .name {
  color: var(--color2);
}

/* -- SEASON / WEEK ------------------------------------------------------------------------------ */
.season,
.week {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.week {
  justify-content: center;
}

.season {
  max-width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.day-tag {
  margin-bottom: -1em;
  text-align: center;
}

.day {
  width: 50px;
  text-align: center;
}

.mmr-gain {
  text-align: center;
  width: 80px;
}

.matches--a--week {
  width: 70px;
}

.name a {
  font-size: 6rem;
}

.rank {
  width: 50px;
  overflow: hidden;
}

/* -- SORT BTNS --------------------------------------------------------------------------------------------*/

.table-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* -- UTILITY -- */
.hidden {
  display: none;
}

.Random {
  color: grey;
}

.Human {
  color: #2ba7f3;
}

.Orc {
  color: #f02f2e;
}

.Nightelf {
  color: #0f9f4a;
}

.Undead {
  color: #672383;
}

.red {
  color: #fd1c1c;
}

.green {
  color: #01cb01;
}

.green::before {
  content: "+";
}

.border-bottom {
  border-bottom: 1px solid var(--color3);
}

.invisible {
  opacity: 0;
}

.loading-text {
  color: var(--color2);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2rem;
  margin: auto;
  min-width: 200px;
}

section.grey,
section.grey a.name {
  filter: grayscale(100%);
  color: grey;
}

/* -- MEDIA -- */
@media (width <= 1700px) {
  .player-card h3,
  .player-card a {
    font-size: 1.75rem;
  }
  a.name {
    overflow: hidden;
    width: 600px;
  }
  .name a {
    font-size: 4rem;
  }
  p.matches,
  p.mmr {
    font-size: 3rem;
  }
  .day-tag {
    margin-bottom: -0.6em;
    text-align: center;
  }
  .day {
    width: 30px;
  }
  .matches--a--week {
    width: 60px;
  }
  p.matches {
    width: 80px;
  }

  p.mmr {
    width: 130px;
  }
}

@media (width <= 1400px) {
  .player-card {
    padding-left: 17%;
    padding-right: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
  }
}

@media (width < 1250px) {
  .week--content {
    padding: 0;
  }
}

@media (width <= 1100px) {
  .week,
  .season {
    display: none;
  }
  .player-card-content {
    flex-direction: row;
  }
}

@media (width <= 850px) {
  .name a {
    font-size: 3rem;
  }
  p.matches,
  p.mmr {
    font-size: 2rem;
    height: auto;
  }
  .week--table,
  .season--table {
    padding: 0.25em 0.25em 0.25em 0;
  }
  .buttons--container {
    padding: 1em 0.5em;
  }
  p.matches {
    width: 80px;
  }

  p.mmr {
    width: 90px;
  }
}

@media (width <= 600px) {
  .player-card {
    padding: 0;
  }

  div.name {
    width: 220px;
    padding: 0 0.5em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black; /* Creates a sharp black outline */
  }

  a.name {
    font-size: 2.5rem;
  }
}

@media (width <= 500px) {
  a.name {
    font-size: 2rem;
    overflow: auto;
  }
  div.name {
    width: 150px;
  }
  p.matches,
  p.mmr {
    font-size: 1.75rem;
    height: auto;
  }
  p.matches {
    width: 70px;
  }

  p.mmr {
    width: auto;
  }
}

@media (width <= 450px) {
  a.name {
    overflow: auto;
  }
  button {
    padding: 0.4em 0;
  }
  .player-card-content {
    flex-direction: column;
  }

  .player-card-content p {
    height: auto;
    line-height: 1;
  }
  span.games-tag,
  span.mmr-tag {
    font-size: 0.4rem;
    margin-top: 4px;
    margin-right: 5px;
  }
  .table-head {
    gap: 0em;
  }
  .sort-btn {
    font-size: 1rem;
  }
}

@media (width <= 350px) {
  a.name {
    font-size: 1.5rem;
  }
  div.name {
    width: 120px;
  }
  p.matches,
  p.mmr {
    font-size: 1rem;
    height: auto;
    margin-left: 2em;
  }
  p.matches {
    width: 40px;
  }

  p.mmr {
    width: 40px;
  }
}
